<ul class="navbar-nav bg-gradient-darka sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-hotel"></i>
        </div>
        <div class="sidebar-brand-text mx-3">K sleeps</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/hotel?nombre={{hotel}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Inicio</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Administracion
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/hotel/servicios_hotel?nombre={{hotel.nombre}}"  >
          <i class="fas fa-fw fa-cog"></i>
          <span>Servicios</span>
        </a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/hotelimage?nombre={{hotel.nombre}}">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Imagenes de mi hotel</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/hotel/ofertas?nombre={{hotel.nombre}}">
          <i class="fas fa-folder-plus"></i>
           <span>Ofertas</span>
        </a>
      </li>

 
      <li class="nav-item">
        <a class="nav-link collapsed" href="/hotel/reservas?nombre={{hotel.nombre}}">
          <i class="fas fa-folder-plus"></i>
           <span>Ver Reservas</span>
        </a>
      </li>
  
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      {% if user.is_superuser %}
      <div class="sidebar-heading">
        Administracion de superusuario
      </div>
      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Administrar</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Tablas:</h6>
            <a class="collapse-item" href="/hotel/super_hoteles">Hoteles</a>
            <a class="collapse-item" href="/hotel/super_usuarios">Usuarios</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Otras:</h6>
            <a class="collapse-item" href="/hotel/super_servicios">Servicios general</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li> -->

      <!-- Nav Item - Tables 
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>-->
      {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
