{% extends "usuarios/principal.html"%}
 {% block contenido %} 
 {% load crispy_forms_tags %}
 {% block cuadros %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


 {% endblock cuadros %}



<h1>{{titulo}}</h1>
<script>
$(document).ready(function() {
    $('#table').dataTable();
} );
</script>


    <table id="table" class='table table-table-bordered'>
    {% include "utiles/mensajes.html" %}
    
    <thead class='thead-dark'>
    <tr>
        <th>N°</th>
        <th>Nombre usuario</th>
        <th>email</th>
        <th>Nombre Apellido</th>
        <th>¿administrador de hotel?</th>
        <th>activar/desactivar</th>
        
    </tr>
    </thead>
    <tbody class="bg-white">
     {% if tabla %}
            {% for lista in tabla %}
            <tr>

            <td>{{forloop.counter}}</td>
            <td><a href="/modificar/{{lista.id}}">{{lista.cuenta.username}}</a></td>
            <td>{{lista.contactos}}</td>
            <td>{{lista.nombre}} {{lista.apellidos}}</td>
            {% if lista.is_admin %}
            <td>SI  <i class="fas fa-flag-checkered" style="color:green"></i></td>
            {% else %}
            <td>NO  <i class="fas fa-times-circle" style="color:red"></i></td>
            {% endif %}
            {% if lista.cuenta.is_active %}
            <td><a href="/desactivar_activar/{{lista.id}}" class="btn btn-success">Desactivar</a></td>
            {% else %}
            <td><a href="/desactivar_activar/{{lista.id}}" class="btn btn-danger">Activar</a></td>

            {% endif%}
           
            
           

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>


<hr>

<!-- Modal -->



{% endblock contenido %}

