input[type="radio"] {
    display: none;
}

.lbl {
    color: grey;
    font-size: 150%;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
}

.lbl:hover,
.lbl:hover~.lbl {
    color: orange;
}

input[type="radio"]:checked~.lbl {
    color: orange;
}