{% extends "usuarios/principal.html"%}
 {% block contenido %} 
 {% load crispy_forms_tags %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<h1>{{titulo}}</h1>
<hr>
{% include "utiles/mensajes.html" %}

<form method="POST">
{% for forms in form %}
{% crispy forms %} 
{% endfor %}

<div class="sticky-footer"> 
<input onClick="history.go(-1);" type="button" name="volver" value="<---" class="btn btn-lg btn-outline-secondary" id="button-id-volver"> 
    {% if boton%}
<input type="submit" name="save" value="{{boton}}" class="btn btn-primary btn-lg" id="submit-id-save">
    {% else %}
<input type="submit" name="save" value="Guardar" class="btn btn-primary btn-lg" id="submit-id-save">
    {% endif %}
</div>
</form>
{% endblock contenido %}

