{% extends "usuarios/principal.html"%}
 {% block contenido %} 
 {% load crispy_forms_tags %}
 {% block cuadros %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


 {% endblock cuadros %}



<h1>{{titulo}}</h1>
<script>
$(document).ready(function() {
    $('#table').dataTable();
} );
</script>


    <table id="table" class='table table-table-bordered'>
    {% include "utiles/mensajes.html" %}
    
    <thead class='thead-dark'>
    <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>categoria</th>
        <th>tipo</th>
        <th>Pais/Provincia/ciudad</th>
        <th>administrador</th>
        <th>Acciones</th>
        
    </tr>
    </thead>
    <tbody class="bg-white">
     {% if tabla %}
            {% for lista in tabla %}
            <tr>
       
            <td>{{forloop.counter}}</td>
            <td><a href="/hoteleditar_hotel?nombre={{lista.nombre}}">{{lista.nombre}}</a></td>
            <td>{{lista.categoria}}</td>
            <td>{{lista.tipo}}</td>
            <td>{{lista.pais.name}} , {{lista.provincia.name}}, {{lista.ciudad}}</td>
            <td>{{lista.admin.nombre}}</td>
            <td><a href="/hotel?nombre={{lista.nombre}}" class="btn btn-outline-warning">Administrar hotel</a></td>
            
           

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>


<hr>

<!-- Modal -->



{% endblock contenido %}

