{% extends "usuarios/principal.html"%}
 {% block contenido %} 
 {% load crispy_forms_tags %}
 {% block cuadros %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


 {% endblock cuadros %}



<h1>{{titulo}}</h1>
<script>
$(document).ready(function() {
    $('#table').dataTable();
} );
</script>


    <table id="table" class='table table-table-bordered'>
    <a href="/hotel/agregar_servicio?nombre={{hotel.nombre}}" class="btn btn-dark">Agregar <i class="fas fa-plus-square    "></i></a><hr>
    {% include "utiles/mensajes.html" %}
    
    <thead class='thead-dark'>
    <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Pagado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody class="bg-white">
     {% if tabla %}
            {% for lista in tabla %}
            <tr>
       
            <td>{{forloop.counter}}</td>
            <td>{{lista.servicios}}</td>
            {% if lista.pagado %}
            <td>PAGADO</td>
            {% else  %}
            <td>Gratuito</td>
                {% endif %}
            <td>
            
            <a href='/hotel/modificar/{{lista.id}}'   class="btn btn-info">Modificar</a>
                      
            <a  href='/hotel/eliminar/{{lista.id}}' class="btn btn-danger" >Eliminar</a>
            </td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>




<!-- Modal -->



{% endblock contenido %}

