{% extends "usuarios/principal.html"%}
 {% block contenido %} 
 {% load crispy_forms_tags %}
 {% block cuadros %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">	
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>


 {% endblock cuadros %}



<h1>{{titulo}}</h1>
<script>
$(document).ready(function() {
    $('#table').dataTable();
} );
</script>


    <table id="table" class='table table-table-bordered'>
    {% include "utiles/mensajes.html" %}
    
    <thead class='thead-dark'>
    <tr>
        <th>N°</th>
        <th>nombre usuario</th>
        <th>fecha inicio</th>
        <th>fecha hasta</th>
        <th>requerimientos</th>
        <th>valor a pagar</th>
        <th>habitacion</th>

    </tr>
    </thead>
    <tbody class="bg-white">
     {% if tabla %}
            {% for lista in tabla %}
            <tr>
       
            <td>{{forloop.counter}}</td>
            <td>{{lista.usuario}}</td>
            <td>{{lista.fecha_inicio}}</td>
            <td>{{lista.fecha_hasta}}</td>
            <td>{{lista.requerimientos}}</td>
            <td>{{lista.valor_paga}}</td>
            <td>{{lista.oferta.habitacion}}</td>
            </td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>


<hr>

<!-- Modal -->



{% endblock contenido %}

