
  </hr>
  {% for message in messages %}
  <div id="alert" class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}

<script type="text/javascript">

$(document).ready(function () {
window.setTimeout(function() {
    $("#alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove(); 
    });
}, 5000);
 
});


</script>