<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>k slepps admin - Reserva de hoteles</title>

    <!-- Bootstrap core CSS -->
    <style>
        header {
            padding: 156px 0 100px;
            background-image: url("/static/image/descarga.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        
        section {
            padding: 150px 0;
        }
    </style>

    <!-- Custom styles for this template -->


</head>

<body id="page-top">

    <!-- Navigation -->
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">k sleep</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="TRUE" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contactar</a>
                    </li>
                </ul>
                <div class="border border-success">
                    <form class="form-inline my-2 my-lg-0" action="login" method="POST">
                        {% crispy formLogin%}
                     
                        <!--input class="form-control mr-sm-1" placeholder="usuario o email" aria-label="usuario">
                        <input class="form-control mr-sm-1" type="password" placeholder="password" aria-label="contraseña"-->
                        <div class="form-group">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">logear</button>
                  
                        <button type="button" class="btn btn-light my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal" >Registar</button>
                        </div>
                     </form> 
                </div>
            </div>

        </div>
               {% include 'utiles/mensajes.html'%}
    </nav>



    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1 class="text-lg">Hotels Bookings</h1>
            <p class="lead text-monospace badge-light">Un lugar donde puede ofrecer sus habitaciones</p>
        </div>
    </header>



    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Acerca de esta pagina</h2>
                    <p class="lead text-monospace">e miles de personas encuentran ofertas para hoteles, hostales y apartamentos. ¡Encuentra alojamiento para tus vacaciones, escapadas de fin de semana o viajes de negocios en cualquier parte del mundo!
</p>
                    
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Services que ofrecemos</h2>
                    <p class="lead">Ofrece tu habitaciones y gestiona tus reservas desde cualquier lugar.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contactanos</h2>
                    <p class="lead">Puede escribir y contactarnos a los siguientes correso o a whatsapp 
                    <br>Coorreo:<a href="mailto:israelpat42@gmail.com">israel.leon@unl.edu.ec<a>.
                    <br>whatsapp <a href="https://wa.me/5930983253026" blank="">+593 0983253026</a></p>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
   

    <!-- Bootstrap core JavaScript -->


<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
       <form method='POST'>{% csrf_token %}
       
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro Administracion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   
      <div class="modal-body">
       {% for forms in form %}
        {{ forms|crispy }} 
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
        
    </div>
      </form> 
  </div>
</div>


       <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <script src="/static/bootstrap/js/scrolling-nav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script>
    {%if data %}
        $("#exampleModal").modal('show')
    {%endif %}
</script>
</body>

</html>
<!-- 
{% load tz %}

{{ value|localtime }}-->


