{% extends "usuarios/principal.html"%} {% block contenido %} {% load crispy_forms_tags %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% include "utiles/mensajes.html" %}

    <link rel="stylesheet" href="http://veno.es/venobox/js/venobox/venobox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="/static/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="/static/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/static/js/locales/fr.js" type="text/javascript"></script>
    <script src="/static/js/locales/es.js" type="text/javascript"></script>
    <script src="/static/themes/fas/theme.js" type="text/javascript"></script>
    <script src="/static/themes/explorer-fas/theme.js" type="text/javascript"></script>
<div class="row">
    <h2>MIS IMAGENES</h2>
</div>

<div class="row justify-content-end" >
  <a class="btn btn-outline-dark" href="/hotelguardar">Inicio <i class="fas fa-home"></i></a>
<button  onclick="location.href='#agregar'" class="btn btn-success  "> agregar imagenes <i class="fas fa-plus-circle    "></i></button>
</div>
{% if imagenes %}
<div class="row">
    {% for imagen in imagenes %}
<div>
<a class="venobox_custom shadow-lg p-3 mb-5 bg-gradient-white rounded" data-gall="myGallery" href="{{URL}}{{imagen.imagen}}"><img src="{{URL}}{{imagen.imagen}}" class="img-thumbnail" width="100" heigth="100" /></a>

<a href="/hotel/activar_imagen?imagen={{imagen.imagen}}" class="btn btn-outline-info">Ser vista principal</a>

</div>
    {% endfor %}
</div>



{% endif %}

   <div id="agregar">
   <h4>Ingresar imagenes</h4>
    <form enctype="multipart/form-data" >    {% csrf_token %}
        <label>Agregar imagen</label>
            <div class="file-loading">
                <input id="file-es" name="file" type="file" multiple>
            </div>
    </form>
  </div>

    <script type="text/javascript" src="http://veno.es/venobox/js/venobox/venobox.min.js"></script> 

    <script>

 
    $('#file-es').fileinput({
        theme: 'fas',
        uploadUrl: '/hotelimage',
        language: 'es',
        allowedFileExtensions: ['jpg', 'png', 'gif']
        
    });

    $(document).ready(function(){
            $('.venobox_custom').venobox({
        framewidth: '400px',        // default: ''
        frameheight: '400px',       // default: ''
        border: '10px',             // default: '0'
        bgcolor: '#ffff',         // default: '#fff'
        titleattr: 'data-title',    // default: 'title'
        numeratio: true,            // default: false
        infinigall: true,
        arrowsColor: "black",
        spinner:'spinner-pulse',
        closeBackground:'#FF0000',
              // default: false
    });
   
});
</script>

{% endblock contenido %}
{% block footer %}
{% endblock footer %}

